body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 90%;
  background-image: url("http://pontis.me/srinivas/twilio/ivr_make_call_1/images/calling_img_1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
footer {
  position: absolute;
  bottom: 10%;
  text-align: center;
  width: 99%;
}
footer i {
  color: #f00;
}
.body-content {
  padding-left: 15%;
  padding-right: 15%;
}
